body{
	justify-content: center;
    text-align: center;
}

.limpiar {
    clear: both;
}

nav{
    padding-top: 2%;
    padding-bottom: 0.8%;
    border-bottom: 5px solid #4CAF50;
}

#logoDiv{
    float: left;
    width: 20%;
    text-align: right;
}

#menuDiv{
    width: 80%;
}

.elementoMenu {
    padding: 0.3%;
    text-decoration:none;
    display: inline-block;
}
.elementoMenu>a {	
	padding: 5px;
	text-decoration: none;
	color: #555555;
	transition-duration: 0.8s;
}

.elementoMenu>a:hover {   
    text-decoration: none;
}

.submenu {
    margin-top: 0.5%;
    display: none;
    width: 10%;
    position: absolute;
    background-color: #fff;
    border-bottom: solid 2px #4CAF50;
}
.submenu a {
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

.submenu a:hover {
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
	transition-duration: 0.2s;
}

.elementoMenu:hover .submenu{
	display: block;
}

.elementoMenu:hover>a {
	color: grey;
	transition-duration: 0.8s;
}

