body{
	justify-content: center;
    text-align: center;
}

.limpiar {
    clear: both;
}

nav{
    padding-top: 2%;
    padding-bottom: 1%;
   -webkit-box-shadow: 5px 67px 67px -43px rgba(121,179,55,0.68);
    -moz-box-shadow: 5px 67px 67px -43px rgba(121,179,55,0.68);
    box-shadow: 5px 67px 67px -43px rgba(121,179,55,0.68);


}

#logoDiv{
    float: left;
    width: 20%;
    text-align: right;
}

#menuDiv{
    width: 80%;
    text-align: center;
}

.elementoMenu {
    margin: 2%;
    padding: 0.3%;
    text-decoration:none;
    display: inline-block;
}
.elementoMenu>a {	
    font-size: 1.1em;
    font-weight: bold;
	text-decoration: none;
	color: #555555;
	transition-duration: 0.8s;
}

.elementoMenu>a:hover {   
    text-decoration: none;
}

.submenu {
    margin-top: 0.5%;
    display: none;
    width: 14%;
    position: absolute;
    background-color: #fff;
    border-bottom: solid 5px #4CAF50;
    border-top: solid 5px #4CAF50;
    z-index: 2;
}

.submenu a {
    color: black;
    text-align: left;
    text-decoration: none;
    display: block;
    background-color: transparent;
    width: 100%;
    padding: 10px;
}

#contenedorCarrousel {
    justify-content: center;
}
.carousel {
    width: 75%;
}
.carousel-inner {
    margin: auto;

}
.carousel-item {
    max-height: 400px;

}
.carousel-item img{
    max-height: 500px;
}

.submenu a:hover {
    color: white;
    text-decoration: none;
    background-color: #4CAF50;
	transition-duration: 0.2s;
}

.elementoMenu:hover .submenu{
	display: block;
}

.elementoMenu:hover>a {
	color: grey;
	transition-duration: 0.8s;
}

